streamlit
pandas
numpy
networkx
osmnx>=2.0.0
folium
matplotlib
mapclassify
streamlit-folium
joblib
scikit-learn==1.7.2
catboost
sentence-transformers
pulp
torchvision
google-generativeai
python-dotenv
